---
interface Props {
    title: string;
    description: string;
    imagePreview?: string;
    urlPreview?: string;
}

const { title, description, imagePreview, urlPreview } = Astro.props;

const baseUrl = "https://teatroitalianobarcelona.com";
const siteName = "Compagnia Teatrale Italiana di Barcellona";
const defaultImage = "/logo.png";

import favicon from "../assets/images/favicon.ico";

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <link rel="icon" type="image/x-icon" href={favicon} />
        <link rel="stylesheet" href="styles/global.css" />
        <title>{title}</title>
        <!-- ============================ -->
    <!-- META TAG OPEN GRAPH (Rich Link Preview) -->
        <!-- ============================ -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:imagePreview" content={"/logo.png"} />
        <meta property="og:url" content={urlPreview || `${baseUrl}${Astro.url.pathname}`} />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content={siteName} />


        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={"Siamo la Compagnia Teatrale Italiana di Barcellona, attiva dal 2021 nella promozione di spettacoli, eventi e festival che celebrano la cultura italiana."} />
        <meta name="twitter:imagePreview" content={`${baseUrl}${defaultImage}`} />
        <ViewTransitions />
    </head>
    <body>
        <slot />
        <script src="https://kit.fontawesome.com/3aeecf3dbb.js" crossorigin="anonymous"></script>
    </body>
</html>